html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.button_container {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    background: #000;
    border-radius: 40px;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 200px;
    margin: 10px;
    cursor: pointer;
    transition: 0.3s;
}
.button_container:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.button_text {
    color: white;
}
/* ----------------------------------------------------todo------------------------------ */
.button_space {
    display: flex;
    justify-content: center;
    margin-top: 40vh;
    /* display: none; */
}
@media (max-width: 410px){
    .button_space{
        display: grid;
    }

}

.bg-light {
    background-color: #ffffff !important;
    margin: 0px 0;
    padding-top: 40px;
    padding-bottom: 40px;
}

/* ----------------------------- form section ------------------------------------ */
@import url(https://fonts.googleapis.com/css?family=Raleway:300);
@import url(https://fonts.googleapis.com/css?family=Lusitana:400,700);
.align-center {
  text-align: center;
  margin-left: auto !important;
  margin-right: auto !important;
}

html {
  height: 100%;
}

body {
  height: 100%;
  position: relative;
}

.form_rows {
    display: block;
    flex-wrap: wrap;
    margin: -20px 0;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.row .col.x-50 {
  width: 50%;
}
.row .col.x-100 {
  width: 100%;
}

.content-wrapper {
  min-height: 100%;
  position: relative;
}
/* -----------------------------------------------todo-------------------------------------------------------- */
.get-in-touch {
  max-width: 650px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  /* display: block; */
}
.get-in-touch .title {
  text-align: center;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 48px;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}
.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 2px 0;
  border-color: #000;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
}
.contact-form .input-text:focus {
  outline: none;
}
.contact-form .input-text:focus + .label, .contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}
.contact-form .label {
  position: absolute;
  left: 20px;
  bottom: 11px;
  font-family: Lusitana, serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  color: #888;
  cursor: text;
  transition: transform 0.2s ease-in-out;
  white-space: nowrap;
}
.contact-form .submit-btn {
  display: inline-block;
  background-color: #000;
  color: #fff;
  font-family: Raleway, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}

.note {
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  text-align: center;
  font-family: Lusitana, serif;
  font-size: 16px;
  line-height: 21px;
}
.note .link {
  color: #888;
  text-decoration: none;
}
.note .link:hover {
  text-decoration: underline;
}

.first_two_entites {
    display: flex;
}
div#phone_error {
    margin-bottom: -19px;
}
.hidden
{
  display:none;
  color: red;
  opacity: 0
}
/* -----------------------------------------------todo----------------------------------------- */
.extra_page{
  display: none;
  text-align: center;
  margin-top: 40vh;
}
/* ---------------------------------------------get services------------------------------------ */

@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300);


.take_service_section{
  display: none;
}
table {
    width: 80%;
    min-width: 600px;
    transition: all 0.1s ease;
    background: #fff;
    padding: 20px;
    border: 1px solid #888;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2rem;
}
.title_name_sec {
  display: flex;
}
p#hide_show, p#hide_rate {
  margin-left: 10px;
  margin-top: 6px;
  font-size: medium;
  color: hsl(264deg 54% 56%);
  cursor: pointer;
}
.take_phone, .take_mobile, .take_email{
  display: none;
}
.alias{
  display: block;
}
tr.body_tr {
  border-bottom: 1px solid #a0a0a0;
}
p.slide_text {
  position: absolute;
  text-align: center;
  width: 100%;
  /* margin-top: -35px; */
  opacity: 0;
}
@media only screen and (max-width: 600px) {
  tr.body_tr {
    display: grid;
  }
  .details-td {
    margin-left: auto;
    margin-right: auto;
  }
  table{
    min-width: 500px;
  }
}

@media only screen and (max-width: 510px) {
  table{
    min-width: 400px;
  }
}
.take_name {
	font-size: 30px;
}
.giver_name{
	border-bottom: 2px solid #888;
  display: flex;
  justify-content: space-between;
  margin: 0 10px;
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.star_space {
  display: flex;
  font-size: 20px;
}
i.fas.fa-star {
  margin-top: 12px;
  margin-left: 9px;
  
  color: gold;
}

.label {
	width: 70px;
	font-weight: bold;
}

.label {
	display: inline-block;
}

.details-td {
	/* border-right: 1px solid #eee; */
	white-space: nowrap;
	padding: 20px;
	padding-right: 30px;
}

.description-td {
	position: relative;
	width: 100%;
	padding: 20px;
	padding-left: 30px;
	padding-right: 30px;
	text-align: justify;
  margin-top: 15px;
  border-right: 1px solid #888888;
}
	.description {
		outline: 0px solid transparent;
		border: 0px solid transparent;
	}
	.edit {
		position: absolute;
		top: 0px;
		right: 0;
		
		width: 13px;
		height: 13px;
		
		cursor: pointer;
	}
	.update {
		display: none;
		position: absolute;
		right: 20px;
		bottom: 0;
		background: #c2e59c;
		border: 0;
		padding: 5px;
		width: 80px;
		color: #333;
		outline: 0px solid transparent;
		border: 0px solid transparent;
  }
  div#take_service_section {
    margin-top: 6rem;
 }

/* ----------------------------rating-star-------------------------------- */



.text-center {text-align:center;}

.success-box {
  margin:50px 0;
  padding:10px 10px;
  border:1px solid #eee;
  background:#f9f9f9;
}
.success-box > div {
  vertical-align:top;
  display:inline-block;
  color:#888;
}
/* Rating Star Widgets Style */
.rating-stars ul {
  list-style-type:none;
  padding:0;
  
  -moz-user-select:none;
  -webkit-user-select:none;
}
.rating-stars ul > li.star {
  display:inline-block;
  
}
/* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
  font-size:2.5em; /* Change the size of the stars */
  color:#ccc; /* Color on idle state */
}
/* Hover state of the stars */
.rating-stars ul > li.star.hover > i.fa {
  color:#FFCC36;
}
/* Selected state of the stars */
.rating-stars ul > li.star.selected > i.fa {
  color:#FF912C;
}
.rating_block {
  background: white;
  z-index: 100;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: grid;
  margin-top: 1rem;
  width: fit-content;
  padding: 3rem;
  border: 1px solid #888888;
  border-radius: 20px;
  box-shadow: 0px 0px 50px 32px rgb(0 0 0 / 20%);
}
p.close_button {
  border: 1px solid #b7b7b7;
  border-radius: 9px;
  cursor: pointer;
}