@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400; 
    color: #212112;
    /* background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg'); */
    background-position: center;
    background-repeat: repeat;
    background-size: 7%;
    background-color: #fff;
    overflow-x: hidden;
    transition: all 200ms linear;
}

::selection {
    color: #fff;
    background-color: #8167a9;
}

::-moz-selection {
    color: #fff;
    background-color: #8167a9;
}


/* #Navigation
================================================== */

.start-header {
    opacity: 1;
    transform: translateY(0);
    /* box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15); */
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on {
    /* box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15); */
    padding: 10px 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.start-header.scroll-on .navbar-brand img {
    height: 24px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-wrap {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: white;
}

.navbar {
    padding: 0;
}

.navbar-brand img {
    height: 28px;
    width: auto;
    display: block;
    filter: brightness(10%);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar-toggler {
    float: right;
    border: none;
    padding-right: 0;
}

.navbar-toggler:active,
.navbar-toggler:focus {
    outline: none;
}

.navbar-light .navbar-toggler-icon {
    width: 24px;
    height: 17px;
    background-image: none;
    position: relative;
    border-bottom: 1px solid #000;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after,
.navbar-light .navbar-toggler-icon:before {
    width: 24px;
    position: absolute;
    height: 1px;
    background-color: #000;
    top: 0;
    left: 0;
    content: '';
    z-index: 2;
    transition: all 300ms linear;
}

.navbar-light .navbar-toggler-icon:after {
    top: 8px;
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
    transform: rotate(45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
    transform: translateY(8px) rotate(-45deg);
}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
    border-color: transparent;
}

.nav-link {
    color: #212121 !important;
    font-weight: 500;
    transition: all 200ms linear;
}

.nav-item:hover .nav-link {
    color: #8167a9 !important;
}

.nav-item.active .nav-link {
    color: #777 !important;
}

.nav-link {
    position: relative;
    padding: 5px 0 !important;
    display: inline-block;
}

.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #8167a9;
    opacity: 0;
    transition: all 200ms linear;
}

.nav-item:hover:after {
    bottom: 0;
    opacity: 1;
}

.nav-item.active:hover:after {
    opacity: 0;
}

.nav-item {
    position: relative;
    transition: all 200ms linear;
}

/* #Primary style
================================================== */

.bg-light {
    background-color: #fff !important;
    transition: all 200ms linear;
}

.section {
    position: relative;
    width: 100%;
    display: block;
}

.full-height {
    height: 100vh;
}

.over-hide {
    overflow: hidden;
}

.absolute-center {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    margin-top: 40px;
    transform: translateY(-50%);
    z-index: 20;
}

h1 {
    font-size: 48px;
    line-height: 1.2;
    font-weight: 700;
    color: #212112;
    text-align: center;
}

p {
    text-align: center;
    margin: 0;
    padding-top: 10px;
    opacity: 1;
    transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1700ms;
}

#switch,
#circle {
    cursor: pointer;
    -webkit-transition: all 300ms linear;
    transition: all 300ms linear;
}

#switch {
    width: 60px;
    height: 8px;
    border: 2px solid #8167a9;
    border-radius: 27px;
    background: #000;
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    opacity: 1;
    transform: translate(0);
    transition: all 300ms linear;
    transition-delay: 1900ms;
}

body.hero-anime #switch {
    opacity: 0;
    transform: translateY(40px);
    transition-delay: 1900ms;
}

#circle {
    position: absolute;
    top: -11px;
    left: -13px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: #000;
}

.switched {
    border-color: #000 !important;
    background: #8167a9 !important;
}

.switched #circle {
    left: 43px;
    box-shadow: 0 4px 4px rgba(26, 53, 71, 0.25), 0 0 0 1px rgba(26, 53, 71, 0.07);
    background: #fff;
}

.nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
    max-height: 0;
    display: block;
    padding: 0;
    margin: 0;
    transition: all 200ms linear;
}

.nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
    max-height: 999px;
    transform: translate3d(0, 0px, 0);
}

.dropdown-menu {
    padding: 10px !important;
    margin: 0;
    font-size: 13px;
    letter-spacing: 1px;
    color: #212121;
    background-color: #fcfaff;
    border: none;
    border-radius: 3px;
    box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}

.dropdown-toggle::after {
    display: none;
}

.dropdown-item {
    padding: 3px 15px;
    color: #212121;
    border-radius: 2px;
    transition: all 200ms linear;
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: #fff;
    background-color: rgba(129, 103, 169, .6);
}



/* #Media
================================================== */

@media (max-width: 767px) {
    h1 {
        font-size: 38px;
    }

    .nav-item:after {
        display: none;
    }

    .nav-item::before {
        position: absolute;
        display: block;
        top: 15px;
        left: 0;
        width: 11px;
        height: 1px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
    }

    .dropdown-toggle::after {
        position: absolute;
        display: block;
        top: 10px;
        left: -23px;
        width: 1px;
        height: 11px;
        content: "";
        border: none;
        background-color: #000;
        vertical-align: 0;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"]::after {
        transform: rotate(90deg);
        opacity: 0;
    }

    .dropdown-menu {
        padding: 0 !important;
        background-color: transparent;
        box-shadow: none;
        transition: all 200ms linear;
    }

    .dropdown-toggle[aria-expanded="true"]+.dropdown-menu {
        margin-top: 10px !important;
        margin-bottom: 20px !important;
    }
}


.logo {
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
}

.logo img {
    height: 26px;
    width: auto;
    display: block;
    filter: brightness(10%);
    transition: all 250ms linear;
}

body.dark .logo img {
    filter: brightness(100%);
}






/* -----------------------------single card---------------------------------- */
.card_place {
    margin: 0rem 3rem;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0em 0 1em 0;
    padding: 1em 20px 0 20px;
}
.col-md-3{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px){
    .col-md-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

}


.tag {
    border-radius: 2px;
    font-size: 10px;
    font-weight: bold;
    padding: 3px;
    padding: 0 5px;
}

.tag-primary {
    background-color: white;
}

.card-h {
    scroll-snap-align: center;
    background: #ffffff;
    width: 280px;
    height: auto;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border-color: #ffffff;
    /* border: 1px solid #bbb4b4; */
    /* -webkit-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 10%);
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 10%); */
    margin-bottom: 2rem;
    flex: 1 1 auto;
    cursor: pointer;
}

.card-h .card-thumbnail {
    height: 190px;
    position: relative;
    overflow: hidden;
    
    /* -webkit-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 10%);
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 10%); */
}

.card-h .card-thumbnail img {
    display: block;
    width: 100%;
    height: 190px;
    object-fit: cover;
}

.card-h .card-tag {
    position: absolute;
    top: 7px;
    left: 7px;
}

.card-h .card-body {
    padding: 14px 20px 0;
    flex: 1;
    border: 1px solid #bbb4b4;
    border-top: 0;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    
    -webkit-box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 10%);
    box-shadow: 0px 12px 20px 0px rgb(0 0 0 / 10%);
}

.card-h .card-foot {
    padding: 0 20px 14px 20px;
}

.card-h .card-title {
    font-size: 14px;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    white-space: normal;
    margin-bottom: 6px;
    max-height: 52px;
}

.card-h .card-name {
    max-height: 42px;
    line-height: 16px;
}

.scrollable-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 992px) {
    .scrollable-container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .scrollable-container {
        max-width: 1140px;
    }
}

.scrollable-cards {
    scroll-snap-type: x mandatory;
    display: flex;
    overflow-x: scroll;
    display: flex;
    padding: 5px;
    -webkit-overflow-scrolling: touch;
}

.scrollable-cards .card-h {
    flex-shrink: 0;
    margin: 5px 5px;
}

.scrollable-cards .card-h:last-child {
    border-right: 10px solid #f6f6f6;
}

@media (min-width: 992px) {
    .scrollable-cards {
        flex-wrap: wrap;
        justify-content: center;
        padding: 10px/2 0;
    }

    .scrollable-cards .card-h {
        flex: 0 0 calc(25% - 10px);
    }

    .scrollable-cards .card-h:last-child {
        border-right: 0;
    }
}

.card-main-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-text-header {
    display: flex;
    flex-direction: column;
    /* padding-bottom: 10px; */
}

.card-logo {
    border-radius: 5px;
}

.card_title {
    margin-left: auto;
    margin-right: auto;
}

.box-title {
    margin-bottom: 0;
    line-height: 1em;
    font-size: 1.2rem;
    font-weight: bolder;
    white-space: nowrap;
}
a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

a:hover {
    color:rgb(0, 0, 0); 
    text-decoration:none; 
    cursor:pointer;  
}

.break {
    border-top: 1px solid #bbb1c7;
    margin: 0 -20px;
    margin-bottom: 5px; 
}
.services_num{
    white-space: nowrap;
    margin-top: 0;
    padding-top: 0;
    margin-right: auto;
    margin-left: auto;
}
.main_center {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 20vh;
    margin-bottom: 2rem;
}