
:focus { outline: none; }
::-moz-selection { /* Code for Firefox */
  color: #1b55e2;
  background: transparent;
}
::selection {
  color: #1b55e2;
  background: transparent;
}
hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-top: 1px solid #f1f2f3;
}
strong { font-weight: 600; }
code { color: #e7515a; }

select.form-custom::-ms-expand {
    display: none;
}
.custom-file-input:focus~.custom-file-label {
    border: 1px solid #ced4da;
    box-shadow: none;
}
.custom-file-input:focus~.custom-file-label::after {
    border: none;
    border-left: 1px solid #ced4da;
}
.lead a.btn.btn-primary.btn-lg {
    margin-top: 15px;
    border-radius: 4px;
}
.jumbotron { background-color: #f1f2f3; }
.mark, mark { background-color: #ffeccb }

.code-section-container {
    margin-top: 20px;
    text-align: left;
}
.toggle-code-snippet {
    border: none;
    background-color: transparent!important;
    padding: 0px!important;
    box-shadow: none!important;
    color: #888ea8!important;
    margin-bottom: -24px;
    border-bottom: 1px dashed #bfc9d4;
    border-radius: 0;
}
.toggle-code-snippet svg {
    color: #1b55e2;
}
.code-section {
    padding: 0;
    height: 0;
}
.code-section-container.show-code .code-section {
    margin-top: 20px;
    height: auto;
}
.code-section pre {
    margin-bottom: 0;
    height: 0;
    padding: 0;
    border-radius: 6px;
}
.code-section-container.show-code .code-section pre {
    height: auto;
    padding: 22px;
}
.code-section code { color: #fff; }

/*blockquote*/
blockquote.blockquote { 
    color: #0e1726;
    padding: 20px 20px 20px 14px;
    font-size: 0.875rem;
    background-color: #ffffff;
    border-bottom-right-radius: 8px;
    border-top-right-radius: 8px;
    border: 1px solid #e0e6ed;
    border-left: 2px solid #1b55e2;
    -webkit-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
    box-shadow: 0 4px 6px 0 rgba(85, 85, 85, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.07), 0px 1px 11px 0px rgba(0, 0, 0, 0.07);
}
blockquote.blockquote > p {
    margin-bottom: 0;
}
blockquote .small:before, blockquote footer:before, blockquote small:before {
    content: '\2014 \00A0';
}
blockquote .small, blockquote footer, blockquote small {
    display: block;
    font-size: 80%;
    line-height: 1.42857143;
    color: #777;
}
blockquote.media-object.m-o-border-right {
    border-right: 4px solid #1b55e2;
    border-left: none;
}
blockquote.media-object .media .usr-img img {
    width: 55px;
}
a:focus {
    outline: none;
    text-decoration: none
}
span.blue {
    color: #1b55e2
}
span.green {
    color: #8dbf42
}
span.red {
    color: #e7515a
}

/*      Form Group Label       */

/* .form-group label, label {
    font-size: 14px;
    color: #595959;
    letter-spacing: 1px;
    line-height: 24px;
} */

.hide{
    display: none !important;
}
.cursor-pointer {
    cursor: pointer;
}
.select2-container .select2-dropdown .select2-search .select2-search__field{
    border: 1px solid #c0c0c0;
    font-size: 13px;
    padding: 4px 10px;
}
.select2-container .select2-dropdown .select2-results .select2-results__options .select2-results__option{
    padding: 4px 10px;
    font-size: 13px;
    font-weight: normal;
}
.select2-dropdown{
    z-index: 999999999 !important;
}